Repository skills/action-text-variables, pull requests merged in 2025-04, with the labels that each got.

#20 ci: add testing the action to ci workflow and fix linting
  .github/dependabot.yml
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/linter.yml
  README.md
  __tests__/main.test.js
  badges/coverage.svg
Labels: documentation, maintenance

#22 feat!: replace env style variables for yaml style variables
  .github/workflows/ci.yml
  __tests__/main.test.js
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  package-lock.json
  package.json
  src/main.js
Labels: enhancement, maintenance, bump-major, breaking

#24 refactor: update template variable syntax to use YAML format
  README.md
  examples/direct-text.yml
  examples/template-from-other-repo.yml
  examples/template-from-same-repo.yml
Labels: documentation

#25 docs: update all references of `skills/response-templates` to use `skills/exercise-toolkit` instead
  README.md
  examples/template-from-other-repo.yml
Labels: documentation

#26 docs: enhance README with clearer structure and usage examples
  README.md
Labels: documentation

#27 chore: update dependencies and devDependencies
  dist/index.js
  dist/index.js.map
  package-lock.json
  package.json
Labels: maintenance

#28 fix: Correct inputs description to use YAML, not ENV.
  README.md
Labels: documentation
